{{> header_standard}}
<div class="row">
    <div class="column">
        <h1 id="page-title">{{title}}</h1>
    </div>
    <div id="content" class="column">
        {{{contents}}}
    </div>
</div>

{{> footer_standard}}
